@model GuestBook.Models.message

@{
    ViewBag.Title = "Details";
}

<h2>Message Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Descreption:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descreption)
        </dd>


        <dt>
           Message Writer:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.UserName)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Index","Messages")" class="btn btn-info"> <span class="glyphicon glyphicon-chevron-left"></span> Back To List</a>
</p>
