
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to GuestBook Web Application!</h2><br />
 <p> GuestBook is a web application which allow to user to add a messages to other people and repley to their messages.</p>

