
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to GuestBook Web Application!<br />GuestBook is a web application which allow to user to add a messages to other people and repley to their messages. </h2>

